

h1 {
  font-size: 40px;
  font-family: Arial
}
<<<<<<< HEAD
=======

>>>>>>> a3f46f2db9c6cb58ee46d3c508d477ff67d9cfd8
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
<<<<<<< HEAD
=======

h3 {
  font-family: Arial
}

>>>>>>> a3f46f2db9c6cb58ee46d3c508d477ff67d9cfd8
p {
  font-size: 14px;
  font-family: Arial
}
<<<<<<< HEAD
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
=======
div{
  background-color: blue;
  text-align: right;
}




<<<<<<< HEAD

=======
>>>>>>> a3f46f2db9c6cb58ee46d3c508d477ff67d9cfd8
>>>>>>> origin/main
